.profileCard{
    display: flex;
    border:2px solid black;
    margin:5px;
    width: 500px;
    padding:5px;
}
.profileCard img{
    width: 200px;
    margin-right: 10px;
}

.informationSections{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.countryButtonList{
    width:400px;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
}

.countryButton{
    width: fit-content;
    padding:5px;
    margin:2px;
    border:1px solid black;
}

.countryButton:hover{
    background-color: lightskyblue;
    cursor: pointer;
}